<html>
	<head>
		<title><%= @title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="custom.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	      <a class="navbar-brand" href="/">A Blog</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item active">
	            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/new">New Post</a>
	          </li>
	        </ul>
	        <form class="form-inline my-2 my-lg-0">
	          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	        </form>
	      </div>
	    </nav>
	    <br><br><br>
	    <div class="container">
	    	<div class="center">
	    		<img src="pic.jpg" class="img-thumbnail rounded-circle" id="main-img"><br><br>
				<h1 class="jumbotron-heading"><%= @headline %></h1>
				<p class="lead text-muted"><%= @paragraph %></p>
				<button type="button" class="btn btn-success">Follow</button>
				<button type="button" class="btn btn-dark">Unfollow</button>
			</div>
			<br><br>
			<div class="row">
				<div class="col-sm-8">
					<% @posts.each do |post| %>
						<h2 class="center"><%= post.title %></h2>
						<p class="text-muted"><%= post.created_at %></p>
						<p><%= post.body %></p>
						<hr>
					<% end %>
				</div>
				<aside class="col-sm-3 ml-sm-auto ">
		          <div class="sidebar-module sidebar-module-inset">
		            <h4>About</h4>
		            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
		          </div>
		          <div class="sidebar-module">
		            <h4>Archives</h4>
		            <ol class="list-unstyled">
		              <li><a href="#">March 2017</a></li>
		              <li><a href="#">February 2017</a></li>
		              <li><a href="#">January 2017</a></li>
		              <li><a href="#">December 2016</a></li>
		              <li><a href="#">November 2016</a></li>
		              <li><a href="#">October 2016</a></li>
		              <li><a href="#">September 2016</a></li>
		              <li><a href="#">August 2016</a></li>
		              <li><a href="#">July 2016</a></li>
		              <li><a href="#">June 2016</a></li>
		              <li><a href="#">May 2016</a></li>
		              <li><a href="#">April 2016</a></li>
		            </ol>
		          </div>
		          <div class="sidebar-module">
		            <h4>Elsewhere</h4>
		            <ol class="list-unstyled">
		              <li><a href="#">GitHub</a></li>
		              <li><a href="#">Twitter</a></li>
		              <li><a href="#">Facebook</a></li>
		            </ol>
		          </div>
			    </aside>
			</div>
			
		</div>
		<br>
		<footer class="center">
			<p>
	        	<a href="#">Back to top</a>
	     	</p>
    	</footer>
    	<br>


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</body>
</html>